<%- include("partials/header.ejs") %>

<div style="position: relative; top: -200px">
  <label for="name">name</label>
  <input type="text" />
  <br />
  <label for="email">email</label>
  <input type="email" name="email" id="email" />
  <br />

  <br />
<label for="textrea">yourfeedback</label><br>
  <input type="textarea">
</div>

<%- include("partials/footer.ejs") %>
